@{
    ViewData["Title"] = "Locked Out";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card shadow mb-4">
            <div class="card-header bg-danger text-white">
                <h4 class="mb-0">Account Locked</h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <i class="fas fa-lock fa-3x mb-3 text-danger"></i>
                    <h5>Your account has been locked</h5>
                    <p>Due to multiple failed login attempts, your account has been temporarily locked for security reasons.</p>
                    <p>Please try again later or contact support if you believe this is an error.</p>
                </div>
            </div>
        </div>
    </div>
</div>